body, html {
  height: 100%;
  margin: 0%;
}

.bg {
  background-image: url(../../annie-spratt-330560.jpg);
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.intro {
  color: white;
  top: 100px;
}

.about-photo {
  height: 40%;
}

.contact-photo {
  height: 80%;
  background-image: url(../../hanny-naibaho-308083.jpg);
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover;
}

.connect {
  text-align: center;
}
