body, html {
  height: 100%;
  overflow-x: hidden;
  margin: 0%;
  font-size: 100%;
}

@media screen and (max-width: 720px) {
  p {
      font-size: .9em;
  }
}

@media screen and (min-width: 721px) {
  p {
      font-size: 1em;
  }
}

@media screen and (min-width: 992px) {
  p {
      font-size: 1.125em;
  }
}

.bg {
  background-image: url(../../photos/annie-spratt-330560.jpg);
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.intro {
  color: white;
  margin-top: 70px;
  text-shadow: 2px 2px 2px grey;
}

.contact-photo {
  height: 80%;
  background-image: url(../../photos/hanny-naibaho-308083.jpg);
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover;
}

.contact-information {
  padding: 10px;
}

.contact-form {
  margin: 30px;
}

.contact-text {
  margin: 30px;
}

.about-intro {
  color: white;
  height: 200px;
  padding-top: 70px;
  text-shadow: 2px 2px 2px black;
}

.about-text {
  padding: 10px;
  margin: 10px;
}

.profile-photo-container {
  padding: 10px;
  margin: 10px;
}

.about-photo {
  height: 50%;
  background-image: url(../../photos/keith-misner-308.jpg);
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover;
}

.portfolio-list {
  background-image: url(../../photos/keith-misner-308.jpg);
  background-repeat: repeat-y;
  background-position: top;
  background-size: cover;
}

.resume-containers {
  padding: 10px;
}

#omakase {
  max-width: 50%;
  height: auto;
  width: auto;
}

#forage {
  max-width: 100%;
  height: auto;
  width: auto;
}

#connect-with-me {
  margin-top: 45px;
  text-shadow: 2px 2px 2px black;
  border-width: 2px;
}

#github {
  margin-left: 15px;
}
