body, html {
  height: 100%;
  overflow-x: hidden;
  margin: 0%;
}

.bg {
  background-image: url(../../annie-spratt-330560.jpg);
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.intro {
  color: white;
  top: 70px;
}

.about-photo {
  height: 40%;
}

.contact-photo {
  height: 80%;
  background-image: url(../../hanny-naibaho-308083.jpg);
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover;
}

.contact-information {
  padding: 10px;
}

.contact-form {
  margin: 30px;
}

.contact-text {
  margin: 30px;
}

.about-text {
  padding: 10px;
  margin: 10px;
}

.about-photo-container {
  padding: 10px;
  margin: 10px;
}

.about-photo {
  height: 50%;
  background-image: url(../../keith-misner-308.jpg);
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover;
}
