body, html {
  height: 100%;
  margin: 0%;
}

.bg {
  background-image: url(../../annie-spratt-330560.jpg);
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  margin: -10px;
}

.intro {
  color: white;
  top: 100px;
}
